:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: #0674ec;
    --border-color: #094e97;
    --font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji"
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    /* Được hiểu là 10px */
    line-height: 1.6rem;
    /* được hiểu là 16px */
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-with {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}
